{% extends 'core/base.html' %}

{% block title%}{{product.name}} {% endblock %}

{% block body %}
    <div>
        <img src="{{product.image.url}}" alt="">
        <div class="ok">
            <h3>{{product.name}}</h3>
            {% if product.discription %}
            <p><strong>Discription :</strong><br>{{product.discription}}</p>
            {% else %}
            No Discription
            {% endif %}
            <strong><a href="#">{{product.category}}</a></strong>
            <strong>Price: ${{product.price}}</strong>
        </div>
        <div>{{ paypal.render }}</div>
    </div>
    <style>
        body{
            padding: 10px;
            box-sizing: border-box;
        }
        img{
            width: 60%;
            border-radius: 50px;
            padding: 20px 0 10px 0;
        }
        .ok{
            padding: 10px 0 10px 0;
        }
    </style>
{% endblock %}