{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/pics.jpg' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/pics.jpg' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/pics.jpg' %}">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <main class="container">
        <h2 id="example">Login</h2>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <h5 style="color:red;">{{ message }}</h5>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="input-field">
                <input type="text" name="username" id="username"
                    placeholder="Enter Your Username" required>
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password"
                    placeholder="Enter Your Password" required>
                <div class="underline"></div>
            </div><br>
            <p><a href="{% url 'signup' %}" style="text-decoration: none; color: black;">Need an Account</a></p>
            <input type="submit" value="Continue">
        </form>

        <!-- <div class="footer">
            <span>Or Connect With Social Media</span>
            <div class="social-fields">
                <div class="social-field twitter">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                        Sign in with Twitter
                    </a>
                </div>
                <div class="social-field facebook">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                        Sign in with Facebook
                    </a>
                </div>
            </div>
        </div> -->
    </main>
</body>
</html>